<!DOCTYPE html>
<html lang="en">

    <h3 id="281579083"
        style="display: inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%;height:28px;line-height:28px;vertical-align:middle;padding-left:16px;padding-right:30px">
        <i class="knowledgeOpenBtn knowledgeOpenBtnImg"></i>
        <span class="titlewords">
                					         		<span class="hideChapterNumber">
														第3章
													</span>
													大学生职业期待
											  </span>
    </h3>
    <!-- 第二级开始  -->
    <div class="ncells" style="position: relative; display: block;">
        <h4 id="cur281579095"
            style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:17px;line-height:17px;vertical-align:middle;padding-right:30px"
            class="currents">
            <span style="float:left;width:36px;cursor:pointer;height:18px;"
                  onclick="getTeacherAjax('210412677','21290445','281579095');"></span>
            <span class="roundpointStudent lock"></span>
            <a href="javascript:getTeacherAjax('210412677','21290445','281579095');" title="组织信息认知">
																		 																		<span>

																		<span class="hideChapterNumber">
																			3.1
																		</span>
																		组织信息认知

																		</span>
            </a>
        </h4>

        <!-- 第三级级开始  -->
        <!-- 第三级结束  -->
    </div>

    <div class="ncells" style="position: relative; display: block;">
        <h4 id="cur281579096"
            style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:17px;line-height:17px;vertical-align:middle;padding-right:30px">
            <span style="float:left;width:36px;cursor:pointer;height:18px;" onclick="javascript:void()"></span>
            <span title="课程开放时间从2020-03-11 07:00:00 到 2020-03-12 07:00:00 " class="roundpointStudent  lock"></span>
            <a href="javascript:void()" title="人职匹配——幸福感的获得">
																																				<span>

																		<span class="hideChapterNumber">
																			3.2
																		</span>
																		人职匹配——幸福感的获得

																		</span>
            </a>
        </h4>

        <!-- 第三级级开始  -->
        <!-- 第三级结束  -->
    </div>
    <!-- 第二级结束  -->
</html>